$primary_accent: #4A90E2 !default;
$secondary_accent: #0074D9 !default;
$inverse_accent: #ffffff !default;
$o-kanban-color-border-width: 8px;
$selected_row: #E5F6FD !default;
$bg_white: #ffffff !default;
$f_color: #00509E !default;
$primary_hover: #3B79D1 !default;
